[submodule "matrix"]
	path = matrix
	url = https://github.com/FearIndigo/rpi-rgb-led-matrix.git
	branch = inverted-text
[submodule "wiringPi"]
	path = wiringPi
	url = https://github.com/WiringPi/WiringPi.git
[submodule "entt"]
	path = entt
	url = https://github.com/skypjack/entt
